:root{
    --main_color: lightseagreen;
    --accent: gray;
}
*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--accent);
}

header li{
    list-style: none;
    display: inline-block;
    padding: 0 20px;
    text-decoration: none;
}
a{
    text-decoration: none;
    color: var(--accent);
}
a:hover{
    color: var(--main_color);
}
#current{
    color: var(--main_color);
    font-weight: bold;
}

header{
    display: flex;
    justify-content: space-around;
    border-top: 3px solid var(--main_color);
    border-bottom: 1px solid var(--accent);
    margin: 0;
}

img{
    border-radius: 50%;
    border: 1px solid var(--accent);
    max-width: 300px;
    margin: 30px;
    margin-bottom: 0;
    box-shadow: -2px 1px black;
}

#content{
    display: flex;
    height: calc(100vh - 150px);
}

#profile{
    border-right: 3px solid var(--accent);
    margin-top: 10px;
    margin-right: 25px;
    justify-content: center;
    margin-left: 15vw;
}

#name{
    color: var(--accent);
    justify-content: center;
    display: flex;
    font-weight: lighter;
    margin: 0;
}

#job{
    color: var(--accent);
    justify-content: center;
    display: flex;
    font-weight: lighter;
    margin: 0;
}

#email{
    color: var(--main_color);
    justify-content: center;
    display: flex;
    font-weight: lighter;
    margin: 0;
}
footer{
    border-top: 2px solid var(--accent);
    color: var(--accent);
    justify-content: center;
    display: flex;
    margin-top: 10px;
}

#info{
    display: block;
    margin-right: 15vw;
}

#title{
    color: var(--main_color);
}

@media only screen and (max-width: 1000px){
    #content{
        flex-direction: column;
    }
    #profile{
        border-right: none;
        border-bottom: 3px solid var(--accent);
        flex-direction: column;
        justify-content: center;
        margin: 0;
    }
    img{
        max-width: 200px;
        display: flex;
        justify-content: center;
        transform: translate(calc(50vw - 150px),0);
    }
    #info{
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    progress{
        width: 50vw;
        height: auto;
    }
    #title{
        justify-content: center;
    }
}
table{
    margin-bottom: auto;
}

.skills{
    flex-direction: column;
}
progress{
    width: 20vw;
    height: auto;
}